img {
    position: relative;
    left: 10px;
 
    border: 5px solid black;
    padding: 10px;
    margin: 10px;
 
    box-shadow: 5px 5px 10px gray;
 }
 
 .words {
    font-family: impact;
    font-size: 60px;
 }
 
 .first {
    position: absolute;
    left: 150px;
    top: 80px;
    z-index: 10;
 }
 
 .heart {
    color: red;
    font-size: 80px;
    position: absolute;
    left: 215px;
    top: 70px;
    z-index: 10;
 }
 
 .last {
    position: absolute;
    left: 285px;
    top: 80px;
    z-index: 10;
 }
 
 div {
    position: relative;
    background-color: lightblue;
 }